header {
    background-color: #272932;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffa500;
}

section {
    padding-top: 60px;
    margin-top: 20px;
    padding: 20px;
    border-bottom: #333 solid;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

#esterilizacion h2 {
    margin: 0 20px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.columna {
    flex: 1;
    min-width: 300px;
}

.izquierda {
    text-align: justify;
}

.derecha {
    text-align: justify;
}

.contenido {
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

html,body {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    header {
        padding: 10px 15px;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        gap: 15px;
        text-align: center;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .columna {
        min-width: auto;
    }

    header h1 {
        margin: 10px 0;
    }
}
