.donation-info, .donation-form {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.donation-info h2, .donation-form h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #272932;
}

.donation-info p {
    font-size: 1rem;
    line-height: 1.5;
}

.donation-form form {
    display: flex;
    flex-direction: column;
}

.donation-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.donation-form input, .donation-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.donation-form button {
    background-color: #272932;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.donation-form button:hover {
    background-color: #3a3b4a;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}
